<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/items_animation.js') }}" onload="console.log('items_animation loaded')"></script>
<script src="{{ url_for('static', filename='js/parallax_animations.js') }}" onload="console.log('parallax_animations loaded')"></script>
<script src="{{ url_for('static', filename='js/rotate_animations.js') }}" onload="console.log('rotate_animations loaded')"></script>
{% endblock %}
</body>
</html>