<!-- Шаблон для других страниц -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
    <nav>
        <a href="#">О нас</a>
        <a href="#">Криптовалюты</a>
        <a href="#">Войти</a>
    </nav>
</header>
<body>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>