{% extends 'base.html' %}
{% block title %}BTC график | Orbityx{% endblock %}

{% block scripts %}
<script defer
        src="https://unpkg.com/lightweight-charts@5.0.8/dist/lightweight-charts.standalone.production.js">
</script>
<script defer src="{{ url_for('static', filename='js/btc_candles.js') }}"></script>
{% endblock %}

{% block content %}
<h2>График BTC/USDT</h2>
<div id="candlestick-chart" style="width:80vw; height:600px;"></div>
<script>
    window.candlesData = {{ candles | tojson }};
    console.log('Initial candles:', window.candlesData);
    console.log('Candle count:', window.candlesData.length);
</script>
{% endblock %}