{% extends 'base.html' %}
{% block title %}BTC график | Orbityx{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/orbityx-charts/node_modules/lightweight-charts/dist/light-weight.standalone.production.js') }}"></script>
<script src="{{ url_for('static', filename='js/btc_candles.js') }}" defer></script>
{% endblock %}
{% block content %}
<h2>График BTC/USDT</h2>
<div id="candlestick-chart" style="width: 80vw; height: 600px;"></div>
<script>
    window.candlesData = {{ candles | tojson }};
</script>
{% endblock %}