{% extends 'base.html' %}
{% block title %}Актуальный рейтинг криптовалют на Orbityx{% endblock %}
{% block content %}

<h1 class="">Все криптовалюты</h1>
<table class="currency_table">
    <thead class="currency_thead">
    <tr id="currency_thead">
        <th>#</th>
        <th>Название</th>
        <th>Цена</th>
        <th>% 1 ч</th>
        <th>% 24 ч</th>
        <th>% 7 дн</th>
        <th>Рын. кап.</th>
    </tr>
    </thead>
    <tbody>
    {% for coin in coins %}
    <tr class="currency_row">
        <td class="number_th">{{ loop.index }}</td>
        <td class="name_th">
            <a href="{{ url_for('main.coin_chart', coin_id=coin.id) }}" class="coin_name">
                <img src="{{ coin.image }}" alt="{{ coin.name }}" width="20" class="mr-2">
                {{ coin.name }} ({{ coin.symbol|upper }})
            </a>
        </td>
        <td class="price_th">${{ coin.current_price }}</td>
        <td class="change_percentage_th">
            {% if coin.price_change_percentage_1h_in_currency >= 0 %}
            <span class="price_higher_th">+{{ coin.price_change_percentage_1h_in_currency | round(2) }}%</span>
            {% else %}
            <span class="price_lower_th">{{ coin.price_change_percentage_1h_in_currency | round(2) }}%</span>
            {% endif %}
        </td>
        <td class="change_percentage_th">
            {% if coin.price_change_percentage_24h >= 0 %}
            <span class="price_higher_th">+{{ coin.price_change_percentage_24h | round(2) }}%</span>
            {% else %}
            <span class="price_lower_th">{{ coin.price_change_percentage_24h | round(2) }}%</span>
            {% endif %}
        </td>
        <td class="change_percentage_th">
            {% if coin.price_change_percentage_7d_in_currency >= 0 %}
            <span class="price_higher_th">+{{ coin.price_change_percentage_7d_in_currency | round(2) }}%</span>
            {% else %}
            <span class="price_lower_th">{{ coin.price_change_percentage_7d_in_currency | round(2) }}%</span>
            {% endif %}
        </td>
        <td class="marker_cap_th">${{ "{:,}".format(coin.market_cap | int) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}