<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Window Mode</title>
    <script src="{{ url_for('static', filename='js/window_mode.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="window">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur debitis doloribus, eius, enim modi nisi nostrum odit omnis optio perferendis, possimus quibusdam quis sed sit ullam velit vero? Aspernatur blanditiis, debitis dicta dolorum, fugiat impedit inventore ipsam, ipsum iste itaque laboriosam libero officiis pariatur tempora totam. Impedit, mollitia, pariatur?
</div>
<div class="window"></div>
<div class="window"></div>
<div class="window"></div>
</body>
</html>