{% extends 'base.html' %}
{% block title %}Профиль | Orbityx{% endblock %}
{% block content %}

<div class="profile-container">
    <h2>Профиль</h2>
    <h3>{{ user.username }}</h3>
    <div class="avatar-display">
        {% if user.avatar %}
        <img src="{{ url_for('main.get_avatar', user_id=user.id) }}" alt="Аватар" class="avatar-img">
        {% else %}
        <div class="avatar-fallback" style="background-color: {{ get_color(user.username) }}">
            {{ user.username[0] | upper }}
        </div>
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.avatar.label }}
            {{ form.avatar }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}