{% extends 'base.html' %}
{% block title %}Регистрация | Orbityx{% endblock %}
{% block content %}

<div class="form-container">
    <h2>Регистрация</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class_="form-control") }}
            {% for error in form.username.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class_="form-control") }}
            {% for error in form.email.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class_="form-control") }}
            {% for error in form.phone.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class_="form-control") }}
            {% for error in form.password.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.confirm.label(class="form-label") }}
            {{ form.confirm(class_="form-control") }}
            {% for error in form.confirm.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="submit-button">Зарегистрироваться</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <p class="log-subtext">Уже есть аккаунт? <a href="{{ url_for('main.login') }}" class="login-link"> Войти </a> </p>
</div>

{% endblock %}
