<div class="toolbar-group">
    <div class="toolbar-label">Timeframe:</div>
    <div class="btn-group">
        <button class="toolbar-btn active" data-timeframe="1m">1m</button>
        <button class="toolbar-btn" data-timeframe="5m">5m</button>
        <button class="toolbar-btn" data-timeframe="15m">15m</button>
        <button class="toolbar-btn" data-timeframe="1h">1h</button>
        <button class="toolbar-btn" data-timeframe="4h">4h</button>
        <button class="toolbar-btn" data-timeframe="1d">1d</button>
        <button class="toolbar-btn" data-timeframe="1w">1w</button>
    </div>
</div>

<div class="toolbar-group">
    <div class="toolbar-label">Chart Type:</div>
    <div class="btn-group">
        <button class="toolbar-btn active" data-chart-type="candlestick" title="Candlestick">
            <i class="tool-icon">
                <img src="/static/img/candles-regular-108.png" alt="candle icon">
            </i>
        </button>
        <button class="toolbar-btn" data-chart-type="line" title="Line">
            <i class="tool-icon">
                <img src="/static/img/line-chart-regular-108.png" alt="line icon">
            </i>
        </button>
        <button class="toolbar-btn" data-chart-type="area" title="Area">
            <i class="tool-icon">
                <img src="/static/img/landscape-solid-108.png" alt="landscape icon">
            </i>
        </button>
    </div>
</div>

<div class="toolbar-group">
    <div class="toolbar-label">Tools:</div>
    <div class="btn-group">
        <button class="toolbar-btn" id="zoom-in" title="Zoom In">
            <i class="tool-icon">
                <img src="/static/img/zoom-in-solid-108.png" alt="zoom in icon">
            </i>
        </button>
        <button class="toolbar-btn" id="zoom-out" title="Zoom Out">
            <i class="tool-icon">
                <img src="/static/img/zoom-out-solid-108.png" alt="zoom out icon">
            </i>
        </button>
        <button class="toolbar-btn" id="reset-view" title="Reset View">
            <i class="tool-icon">
                <img src="/static/img/reset-regular-144.png" alt="reload icon">
            </i>
        </button>
        <button class="toolbar-btn" id="draw-trendline" title="Trendline">
            <i class="tool-icon">
                <img src="/static/img/pencil-solid-108.png" alt="draw icon">
            </i>
        </button>
        <button class="toolbar-btn" id="draw-fibonacci" title="Fibonacci">
            <i class="tool-icon">
                <img src="/static/img/line-chart-regular-108.png" alt="draw2 icon">
            </i>
        </button>
        <button id="fullscreen" class="toolbar-btn" title="Fullscreen">
            <i class="tool-icon">
                <img src="/static/img/fullscreen-regular-108.png" alt="fullscreen icon">
            </i>
        </button>
        <button id="settings" class="toolbar-btn" title="Settings">
            <i class="tool-icon">
                <img src="/static/img/cog-solid-108.png" alt="cog icon">
            </i>
        </button>
    </div>
</div>
